{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>Welcome to My Site!</h1>
        <img src="https://s.france24.com/media/display/dead63f0-fcab-11e8-8829-005056a964fe/w:1240/p:16x9/football-ballon-or-cristiano-ronaldo-leo-messi-neymar.jpg" height=300 width="500" />
        <p></p>
        <p class="lead">Today I will present to you my top 10 most iconic soccer momments from the past decade (2010-2019).</p>
        <p class="lead">To find out the top 10 momments, please click on the button below or click 'Photo Album' in the border.</p>
        <p><a href="{{ url_for('Album') }}">Continue</a>

    </div>

<div class="row" font color="white">
    <div class="col-md-4">
        <h2><font color="white">Why Did I Choose This Topic?</font></h2>
        <p><font color="white"> I chose the topic 'top 10 most iconic soccer momments from the past decade' because I like soccer and I
    thought presenting the top 10 most iconic momments from the past decade could be an interesting idea to explore and present. </font><p/>
    </div>
    <div class="col-md-4">
        <h2><font color="white"> How Did I Chose The Order?</font></h2>
        <p><font color="white">I chose the order with 3 main criterias: Importance, Influence and Popularity. </font><p/>
        <p><font color="white">The higher the momment performs in each criteria, the higher It ranks in the Order.</font></p> 
    </div>
    <div class="col-md-4">
        <h2><font color="white">How Did I Chose The Momments?</font></h2>
        <p><font color="white">
    I searched online about the top soccer momments from the past decade and I came up with the top 10 most influential and important momments
    and put them together in a photo album. </font><p/>
    </div>
</div>

{% endblock %}
